{% extends "base.html" %}

{% block title %}
    Admin Login | LPSChileCollection
{% endblock %}

{% block content %}

<h2 class="page-title">Administrator Login</h2>

<div class="form-container">


    <form action="{{ url_for('admin_login') }}" method="POST">

        <label for="email">
            Email
        </label>

        <input
            type="email"
            id="email"
            name="email"
            required
        >

        <label for="password">
            Password
        </label>

        <input
            type="password"
            id="password"
            name="password"
            required
        >

        <button type="submit" class="submit-btn">
            Log in
        </button>

    </form>

</div>

{% endblock %}